/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Variables */
:root{
    --clr-white: #FFF;
    --clr-grey-900: #48556A;
    --clr-grey-500: #6E8098;
    --clr-grey-400: #9DAEC2;
    --clr-grey-200: #ECF2F8;

    --spacing-0: 0;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-700: 3.5rem;
    --spacing-800: 4rem;
    --spacing-1300: 6.5rem;
    --spacing-2000: 10rem;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: var(--clr-grey-200);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 90%;
    max-width: 20.4375rem;
    border-radius: .625rem;
    background-color: var(--clr-white);
    box-shadow: 0 40px 40px -10px hsla(210, 29%, 84%, .5);
    position: relative;
}

.card__image{
    width: 100%;
    height: 12.5rem;
    border-radius: .625rem .625rem 0 0;
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-600);
    padding: 2rem 1.875rem 1.125rem;
}

.card-text h1{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: .0156rem;
    color: var(--clr-grey-900);
    margin-bottom: var(--spacing-300);
}

.card-text p{
    font-size: .8125rem;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: .12%;
    color: var(--clr-grey-500);
}

.card-footer{
    display: flex;
    align-items: center;
}

.author{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-200);
}

.author__details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-200);
}

.author__image{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.author__info h2{
    font-size: .8125rem;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: .12%;
    color: var(--clr-grey-900);
}

.author__info p{
    font-size: .8125rem;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: .12%;
    color: var(--clr-grey-400);
}

#share-icon-container{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--clr-grey-200);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

#share-icon-container:hover, #share-icon-container.active{
    background-color: var(--clr-grey-500);
}

#share-icon-container:hover .share-icon, #share-icon-container.active .share-icon{
    filter: brightness(0) invert(1);
}

#share-toast{
    background-color: var(--clr-grey-900);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.875rem;
    width: 100%;
    height: 4.75rem;
    border-radius: 0 0 .625rem .625rem;
    display: flex;
    align-items: center;
    gap: var(--spacing-300);
    display: none;
}

#share-toast.active{
    display: flex;
}

#social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-200);
}

#social-icons img, #social-icons a{
    width: 1.25rem;
    height: 1.25rem;
}
.share-text{
    font-size: .8125rem;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--clr-grey-400);
}

@media (min-width: 48rem) {
    .card{
        width: 90%;
        height: 21.625rem;
        max-width: 38rem;
        display: flex;
    }

    .card__image{
        width: 14.3125rem;
        height: 100%;
        object-fit: cover;
        border-radius: .625rem 0 0 .625rem;
    }

    .card-info{
        padding: 2.5625rem 2.25rem 2.5625rem 2rem;
        gap: var(--spacing-300);
    }

    .card-footer{
        position: relative;
    }
    
    
    #share-toast{
        width: 15.5rem;
        height: 3.4375rem;
        border-radius: .625rem;
        padding: var(--spacing-200);
        justify-content: center;
        position: absolute;
        left: 171px;
        bottom: 65px;
        box-shadow: 0 10px 10px 0 hsla(210, 29%, 84%, .5);

    }
    
    #share-toast::after{
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 25px solid var(--clr-grey-900);
    }
}

@media (min-width: 67.5rem){
    .card{
        width: 45.625rem;
        height: 17.5rem;
    }

    .card-info{
        padding: 1.875rem 2.5rem;
        gap: var(--spacing-300);
    }
}